.ReactModal__Body--open {
  overflow: hidden;
}

.photo-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 80px);
  max-width: calc(100vw - 80px); 
  //overflow-y: auto; 
  border-radius: 12px;
  background-color:rgba(0, 0, 0, 0.8);
  padding: 40px; 
}

.photo-details-modal img {
  max-width: 100%; 
  height: auto;
 
}

.photo-details-modal--close-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px ;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  opacity: 0.5;
  cursor: pointer;
}

.download-icon {
  position: absolute;
  bottom: -10px;
  right: 15px;
  margin: 20px;
  cursor: pointer;
}

