.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  color: #fff;
  background-color: rgb(3, 3, 84);
}